.result {
    display: flex;
    align-items: center;
    height: 40px;
}

.result__label {
    line-height: 40px;
    text-align: left;
    display: inline-block;
    width: 100px;
}

.result__value {
    transition: all .1s ease;
    border-radius: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 18px;
    background-color: orange;
}
